<div>
  <div>
    <app-top-header></app-top-header>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

  <!-- <div class="side-menu-container">
    <lsports-ui-side-menu
      (isOpenEmitter)="onSideMenuChanged($event)"
      [menuItems]="menuItems"
      [lockMenuOpen]="true"
      closedLogoIcon="images/Lsport-logo-icon.svg"
      fullLogoIcon="images/Lsport-logo-full.svg"
      data-testid="app-side-menu"
    >
    </lsports-ui-side-menu>
    <div class="content-container" [class.side-menu-open]="isSideMenuOpen"> -->
      <!-- <app-top-menu data-testid="app-top-menu" [user]="user"></app-top-menu> -->

      <!-- <router-outlet></router-outlet> -->
    <!-- </div> -->
  <!-- </div>
</div> -->
